* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.red {
    color: red;
}

/* .bgimg {
    content: "";
    background-image: url(../imgs/image-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;
} */

/* .bgimg ::before{
    opacity: 0.50;

} */

.header {
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    width: 100%;
    display: flex;
    background-color: black;
}


.h1 {
    
}


.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
/*     justify-content: space-around;
    align-content: space-around;*/  
}

.banner {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}
.p1 {
    text-align: center;
}

.h2 {
    text-align: center;
}


.img {
    width: 60%;
    height: 30vh;
}

.shown {
    display: flex;
    height: 30vh;
    display: flex;
    justify-content: space-around;
}

.a {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 30vh;
}

.navmain {
    display: flex;
    justify-content: space-around;
    width: 100%;
}



.footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: black;
    min-height: 10vh;
}

.textfooter {
    color: white;
}
